<div class="prospectos-list-item" #list_item>
    <p class="nombre">{{prospecto.nombre}}</p>
    <p class="apellido_pat"> {{ prospecto.apellido_pat }} </p>
    <p class="apellido_mat">{{ prospecto.apellido_mat }}</p>
    <p class="status">{{ prospecto.estatus }}</p>
    <button class="success" *ngIf="prospecto.estatus.toLowerCase() == 'enviado'" (click)="evaluar()">Evaluar</button>
    <button class="primary" *ngIf="prospecto.estatus.toLowerCase() == 'autorizado' || prospecto.estatus == 'rechazado'" (click)="verDetalles()">Ver Detalles</button>
</div>