<form [formGroup]="capturarForm" class="formulario-registro">

    <h3 class="form-seccion-title">Datos generales</h3>

    <div class="nombre-apellidos">

        <app-form-control labelText="nombre" inputId="nombre" inputType="text" inputName="nombre"
            placeholder="Nombre del prospecto" [control]="capturarForm.get('nombre')"
            errorMsg="El nombre es requerido y debe conteener un minimo de dos caracteres"></app-form-control>

        <app-form-control labelText="apellido paterno" inputId="apellido_paterno" inputType="text"
            inputName="apellido_paterno" placeholder="Apellido Paterno" [control]="capturarForm.get('apellido_pat')"
            errorMsg="El primer apellido es requerido y debe conteener un minimo de dos caracteres"></app-form-control>

        <app-form-control labelText="apellido materno" inputId="apellido_materno" inputType="text"
            inputName="apellido_materno" placeholder="Apellido Materno" [control]="capturarForm.get('apellido_mat')">
        </app-form-control>
    </div>

    <div class="domicilio">

        <app-form-control labelText="calle" inputId="calle" inputType="text" inputName="calle" placeholder="Calle"
            [control]="capturarForm.get('calle')"
            errorMsg="la calle es requerida y debe conteener un minimo de dos caracteres"></app-form-control>

        <app-form-control labelText="número" inputId="numero" inputType="text" inputName="numero" placeholder="Número"
            [control]="capturarForm.get('numero')"
            errorMsg="El nombre es requerido, y debe contener unicamente numeros"></app-form-control>

        <app-form-control labelText="colonia" inputId="colonia" inputType="text" inputName="colonia"
            placeholder="Colónia" [control]="capturarForm.get('colonia')"
            errorMsg="la colonia es requerida y debe conteener un minimo de dos caracteres"></app-form-control>

        <app-form-control labelText="codigo postal" inputId="cp" inputType="text" inputName="cp"
            placeholder="Codigo Postal" [control]="capturarForm.get('codigo_postal')"
            errorMsg="el codigo postal es necesario y debe contener 5 numeros"></app-form-control>

    </div>

    <div class="contacto">
        <app-form-control labelText="telefono" inputId="telefono" inputType="tel" inputName="telefono"
            placeholder="Teléfono" [control]="capturarForm.get('telefono')"
            errorMsg="el numero de telefono es necesario y debe contener 10 numeros"></app-form-control>

        <app-form-control labelText="RFC" inputId="rfc" inputType="text" inputName="rfc" placeholder="RFC"
            [control]="capturarForm.get('rfc')"
            errorMsg="el rfc es necesario y debe seguir el patron (LLLL)(NN/NN/NN)(LLN)"></app-form-control>
    </div>

    <h3 class="form-seccion-title documentos">Documentos
        <button *ngIf="method==='capturar'" class="primary agregar-mas" (click)="agregarFilesControl()">
            Agregar Documento
        </button>
    </h3>
    <div class="file-list" formArrayName="files">
        <div class="file-list-header" *ngIf="filesControls.length > 0">
            <h4 class="file-name">Nombre del Documento</h4>
            <h4 class="file">Archivo</h4>
            <h4 class="options">Opciones</h4>
        </div>
        <div *ngFor="let formGroup of filesControls.controls; let i = index">
            <div [formGroupName]="i" class="file-item">
                <input type="text" class="file-name" placeholder="Nombre del Documento" formControlName="nombre"
                    (keyup)="formatInputValue($event, i)">
                <input type="file" class="file" placeholder="Nombre del archivo" (change)="setFile(i, $event)">
                <div class="options">
                    <button class="danger" (click)="eliminarControl(i)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>



</form>