.form-seccion-title {
    margin: 1rem;
}

@media only screen and (min-width:641px) {
    .formulario-registro {
        max-width: 840px;
        margin: 0 auto;
    }
    .nombre-apellidos {
        display: flex;
        justify-content: space-between;
    }
    .nombre-apellidos>* {
        flex: 0 0 calc(27% - 4px);
    }
    .nombre-apellidos> :first-child {
        flex: 0 0 calc(46% - 4px);
    }
    .domicilio {
        display: flex;
        justify-content: space-between;
    }
    .domicilio>* {
        flex: 0 0 calc(20% - 4px);
    }
    .domicilio> :first-child {
        flex: 0 0 calc(40% - 4px);
    }
    .contacto {
        display: flex;
        justify-content: space-between;
    }
    .contacto>* {
        flex: 0 0 calc(50% - 4px);
    }
}

/* ------------------------------------------------------------------------------------------ // documentos // */

.documentos-conteiner>* {
    flex-basis: 100%;
}

.form-seccion-title.documentos {
    position: relative;
}

.agregar-mas {
    position: absolute;
    top: 50%;
    right: 0;
    /* padding: .6rem 1rem; */
    transform: translateY(-50%);
}

/* ------------------------------------------------------------------------------------------ // file-list // */

/* ------------------------------------------------------------------------------------------ // telefono // */

.file-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.file-list-header {
    display: none;
}

.file-list-header > *{
    margin: 1.6rem;
}

.file-item {
    flex-basis: 100%;
}

.file-item > * {
    margin: 1rem 0;
    width: 100%;
}

.file-item button {
    width: 100%;
}

@media only screen and (min-width:641px) {
    .file-list {
        display: block;
        justify-content: space-between;
    }
    .file-list-header, .file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem 1rem;
    }
    .file-name {
        flex: 0 0 calc(38% - 4px);
    }
    .file {
        flex: 0 0 calc(38% - 4px);
    }
    .options {
        flex: 0 0 calc(20% - 4px);
    }
    h4.file-name, h4.file, h4.options {
        text-align: center;
    }
    .file-list-header>* {
        margin: 0;
    }
    .file-item>* {
        margin: 0;
    }
}

.options .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options .buttons>* {
    flex: 0 0 calc(50% - 4px);
    width: 100%;
}

input.ng-invalid.ng-dirty {
    border-color: var(--red);
}