<form [formGroup]="evaluacionForm">
    <div class="topbar">
        <h3 class="form-seccion-title">Evaluación</h3>
        <div class="select">
            <p>Seleccione un estado</p>
            <select formControlName="estatus">
                <option value="enviado"disabled>Enviado</option>
                <option value="autorizado">Autorizado</option>
                <option value="rechazado">Rechazado</option>
            </select>
        </div>
    </div>
    <textarea *ngIf="evaluacionForm.controls['estatus'].value == 'rechazado'" rows="5" formControlName="observaciones">Ingrese las Observaciones</textarea>
</form>