<div id="home-page" class="fade-in">
    <div class="contenedor">
        <div class="seccion">
            <h2>Hola, Bienvenido</h2>
            <div class="contenido">
                
                <div class="opcion">
                    <h3 class="contenido-title">Agregar un nuevo prospecto</h3>
                    <button class="primary" routerLink="/capturar">Capturar Informacion</button>
                </div>

                <div class="opcion">
                    <h3 class="contenido-title">Listado de prospectos</h3>
                    <button class="primary" routerLink="/prospectos">ver lista</button>
                </div>

            </div>
        </div>
    </div>
</div>