<div id="topbar">
    <div class="contenedor">
        <div class="contenido-toolbar">
            <div class="left"></div>
            <div class="center">
                <p class="logo">ConCredito</p>
            </div>
            <div class="right">
                <div  class="capturar-buttons" #capturar_buttons>
                    <button class="danger" #cancelar>cancelar</button>
                    <button class="success" #guardar>guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>