<div id="topbar">
    <div class="contenedor">
        <div class="contenido-toolbar" #toolbar>
            <div class="search-div" #search_div>
                <select #select_estatus>
                    <option value="">Todos</option>
                    <option value="enviado">Enviado</option>
                    <option value="rechazado">Rechazado</option>
                    <option value="autorizado">autorizado</option>
                </select>
            </div>
            <div></div>
            <div class="capturar-buttons" #capturar_buttons>
                <button class="danger" #cancelar>cancelar</button>
                <button class="success" #guardar>guardar</button>
            </div>
        </div>
    </div>
</div>