<div id="crear-prospecto-page" class="fade-in">
    <div class="contenedor">
        <div class="seccion">
            <h2>Detalles Prospecto</h2>
            <iframe id="pdf-frame"></iframe>
            <div *ngIf="prospecto != undefined">
                <app-formulario-prospecto [method]="method" [prospecto]="prospecto"></app-formulario-prospecto>
                <app-documents-view [files]="files" (onFileView)="fetchFile($event)"></app-documents-view>
                <app-evaluacion-form [evaluacionValue]="evaluacionValue"></app-evaluacion-form>
            </div>
        </div>
    </div>
</div>