<div id="crear-prospecto-page" class="fade-in">
    <div class="contenedor">
        <div class="seccion">
            <h2>Prospectos</h2>
            <div class="contenido">
                <div class="prospectos-list">
                    <app-prospecto-item type="rechazado"></app-prospecto-item>
                    <app-prospecto-item type="autorizado"></app-prospecto-item>
                    <app-prospecto-item type="enviado"></app-prospecto-item>
                </div>
            </div>
        </div>
    </div>
</div>