.contenido {
    max-width: 100%;
}

@media only screen and (min-width:641px) {
    .contenido {
        max-width: 840px;
        margin: 0 auto;
    }
}

.prospectos-list {
    max-height: 60vh;
    overflow: auto;
}